<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/main.css" rel="stylesheet" th:href="@{main.css}">
    <title>Input</title>
</head>
<body>

<h1>Rock Paper Scissors Game</h1>
<form action="Output.html" th:action="@{Process}" th:object="${player}">


    <h2>Pick your Weapon</h2>
    <p>
        <label><input th:field="*{userChoice}" th:value="0" type="radio">Rock</label>
        <label><input th:field="*{userChoice}" th:value="1" type="radio">Paper</label>
        <label><input th:field="*{userChoice}" th:value="2" type="radio">Scissors</label>

    </p>

    <p>
        <input type="submit" value="Play">
    </p>

</form>

<br><br>

</body>
<footer>
    <p>Programmer: Ryan Teixeira</p>
    <p>Sheridan College</p>
</footer>
</html>